/* Intro WebPage*/


*{
    font-family: 'Raleway', sans-serif;
}

img {
    background-size: cover;
}

section.Aboutme {
    display: block;
    /*background-color: orangered;*/
    padding: 10px;
    margin: 20px;
}


.Aboutme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 10px;
    /*border: 1px solid blue;*/
}

/* Vamos a aplicar estos estilos a los div que estan dentro de la clase Aboutme-container*/
.Aboutme-container div {
    display: flex;
    margin: 10px;
    /*border: 1px solid;*/
}


.AboutmeText p {
    font-size: 24px;
    font-family: sans-serif;
}

.aboutCards {
    width: 700px;
    height: 500px;
    background-size: cover;
    background-color: white;
    /*animation-name: aboutAnimation;*/
    /*animation-duration: 2s;*/
}

/*@keyframes aboutAnimation {*/
/*    from { background-color: white;}*/
/*    to { background-color: dodgerblue;}*/
/*}*/

.aboutCards:hover {
    /*border: 4px solid black;*/
    padding: 10px;
    /*background-color: #cae3ff;*/
}

.Technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.technologies {
    width: 900px;
}

/* Mis servicios*/
/* Servicios y portafolio cajas*/
/* Defino el padre para todo el contenido */
.services, .myportfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;

    /*background-color: #2a3541;*/
    /*color: white;*/
    /*border: 1px solid red;*/

}

/* Hover */

.services:hover, .myportfolio:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;
    /*background-color: #000a1d;*/
    /*color: white;*/
    /*border: 1px solid red;*/

}





/* Este es el padre de los contenedores de las tres cajas se comportaran de acuerdo a estas reglas*/
.myservices, .portafolio .whatIUsed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid #3a3838;*/
}


/* Tarjetas */
.activeservices, .portfolioworks {
    width: 30%;
    height: auto;
    margin: 10px ;
    padding: 10px;
    text-align: center;
    /*border: 1px solid dodgerblue;*/
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    flex-wrap: wrap;

}

/* Tarjetas de la mitad*/
.card2 {
    border: 1px solid tomato;
}

/* Hover de  tarjetas*/
.activeservices:hover, .portfolioworks:hover {
    /*border: 3px solid orangered;*/
    box-shadow: 10px 5px 10px 4px #14141c;
    background-color: #508afd;
    color: whitesmoke;
    border-radius: 10px;
    transition: margin .2s ease-in-out,padding .2s ease-in-out,transform .6s ease-in-out,opacity .3s ease-in-out;

}


/* Hover Titulo de las tarjetas*/

.cardTitles:hover{
    color: orangered;

}

.myportfolio {
    text-align: center;
}

b {
    color: crimson;
}


/* Contactame formulario*/

.enviarMensaje {
    display: flex;
    /*flex-direction: column;*/
    padding: 10px;
    margin: 20px;
}
