/* Intro WebPage*/


*{
    font-family: 'Raleway', sans-serif;
}

img {
    background-size: cover;
}

section.Aboutme {
    display: block;
    /*background-color: orangered;*/
    padding: 10px;
    margin: 20px;
}


.Aboutme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 10px;
    /*border: 1px solid blue;*/
}

/* Vamos a aplicar estos estilos a los div que estan dentro de la clase Aboutme-container*/
.Aboutme-container div {
    display: flex;
    margin: 10px;
    /*border: 1px solid;*/
}


.AboutmeText p {
    font-size: 24px;
    font-family: sans-serif;
}

.aboutCards {
    background-size: cover;
    background-color: white;
    padding: 4px;

}


/*.aboutCards:hover {*/
/*    padding: 2px;*/
/*}*/

.Technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.technologies {
    width: 900px;
}

/* Mis servicios*/
/* Servicios y portafolio cajas*/
/* Defino el padre para todo el contenido */
.services, .myportfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;

    /*background-color: #2a3541;*/
    /*color: white;*/
    /*border: 1px solid red;*/

}

/* Hover */

.services:hover, .myportfolio:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;

}





/* Este es el padre de los contenedores de las tres cajas se comportaran de acuerdo a estas reglas*/
.myservices, .portafolio .whatIUsed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid #3a3838;*/
}


/* Tarjetas */
.activeservices, .portfolioworks {
    width: 30%;
    height: 400px;
    margin: 10px ;
    padding: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    flex-wrap: wrap;

}

/* Tarjetas de la mitad*/
.card2 {
    border: 2px solid #fa4646;
}

/* Hover de  tarjetas*/
.activeservices:hover, .portfolioworks:hover {
    box-shadow: -4px -6px 16px;
    color: black;
    /*transition: margin .2s ease-in-out,padding .2s ease-in-out,transform .6s ease-in-out,opacity .3s ease-in-out;*/

}


/* Hover Titulo de las tarjetas*/

.cardTitles:hover{
    color: orangered;

}

.myportfolio {
    text-align: center;
}

b {
    color: crimson;
}


/* Contactame formulario*/

.enviarMensaje {
    display: flex;
    /*flex-direction: column;*/
    padding: 10px;
    margin: 20px;
}
