.aboutme {
    padding: 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    overflow: hidden;
    color: rgb(32, 2, 2);
    border-radius: 4px;
    box-shadow: 0 6px 8px rgb(0 0 0 / 7%);
    backdrop-filter: blur(20 px );
    z-index: 2;
    border: 1px solid rgba(0,0,0,.13);
    margin: 1% auto;
}

.aboutme:hover {
    box-shadow: 0 6px 8px rgb(0 0 0 / 10%);
    backdrop-filter: brightness(60%);
    -webkit-backdrop-filter: blur(10px);
}