.intro-latest-posts {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.s-twoposts {
    display: flex !important;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
  
  }

.anclas:hover {
    color: black;
    transform: scale(1.0790);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    backdrop-filter: blur(20px);
    z-index: 4;
    overflow: hidden;
    display: block;
}

.ITSME {
    color: rgba(0, 0, 0, 0.205);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    .s-twoposts {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100% !important;
    }
    .anclas {
        flex-wrap: wrap;
        margin: 4px;
        padding: 4px;
    }
    .anclas:hover {
        cursor: pointer;
        display: block;
    }
  }