.blogcontent {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.bcontent {
    padding: 24px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 6px 8px rgb(0 0 0 / 7%);
    backdrop-filter: blur(20 px );
    z-index: 2;
    border: 1px solid rgba(0,0,0,.13);
    margin: 1% auto;
}

.bcontent:hover {
    color: black;
}

.blogpostcards {
    transition: all .5s ease-in-out 1s;
    transition-duration: 5s, 30s, 230ms;
    transition-timing-function: ease-in;
    transition-delay: 4s;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
}

.blogpostcards:hover {
    transform: scale(1.0790);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    backdrop-filter: blur(20px);
    z-index: 4;
}
