* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;


}


.App {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

/*body {*/
/*  font-family: 'Raleway', sans-serif;*/
/*  font-size: 24px;*/
/*}*/



/*header {*/
/*  background-image: url("https://programadorwebvalencia.com/img/web/espacio.jpg");*/
/*  !*margin: 40px;*!*/


/*}*/

/*body {*/
/*  width: border-box;*/
/*}*/

/* Contenedor padre para el menu de mi portfolio*/
.menuown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /*margin: 20px;*/
  /*padding: 20px;*/





}

/* Definiendo la estructura de las cajas div para las listas*/
.menuown div li {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;

}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: darkred;
}

.menuown div {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;

}


.emailMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
section .sendMessage {
  background-color: rgb(251, 207, 101);
  padding: 20px;
  margin: 20px;
}

footer {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

}

.buildwith {
  font-size: 12px;
}

/* Media queries*/
@media (min-width: 400px) {
  .activeservices, .portfolioworks {
    width: 100%;
    color: #090807;
    flex-wrap: wrap;
  }
}




/*!*@media (min-width: 576px) {*!*/
/*!*  .activeservices, .portfolioworks {*!*/
/*!*    width: 100%;*!*/
/*!*    color: #0f54f5;*!*/
/*!*    flex-wrap: wrap;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (min-width: 768px) {*!*/
/*!*  .activeservices, .portfolioworks {*!*/
/*!*    width: 50%;*!*/
/*!*    color: green;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (min-width: 992px) {*!*/
/*!*  .activeservices, .portfolioworks {*!*/
/*!*    width: 100%;*!*/
/*!*    color: #e74c3c;*!*/
/*!*  }*!*/
/*!*}*!*/

/*!*@media (min-width: 1200px) {*!*/
/*!*  .activeservices, .portfolioworks {*!*/
/*!*    width: 50%;*!*/
/*!*    color: #e7bc3c;*!*/
/*!*  }*!*/
/*}*/