* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;


}


.App {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

/*body {*/
/*  font-family: 'Raleway', sans-serif;*/
/*  font-size: 24px;*/
/*}*/



/*header {*/
/*  background-image: url("https://programadorwebvalencia.com/img/web/espacio.jpg");*/
/*  !*margin: 40px;*!*/


/*}*/

/*body {*/
/*  width: border-box;*/
/*}*/

/* Contenedor padre para el menu de mi portfolio*/
.menuown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14141c;
  /*margin: 20px;*/
  /*padding: 20px;*/





}

/* Definiendo la estructura de las cajas div para las listas*/
.menuown div li {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;

}

a {
  text-decoration: none;
}

li:hover {
  background-color: darkred;
}

.menuown div {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  padding: 30px;

}


.emailMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
section .sendMessage {
  background-color: rgb(251, 207, 101);
  padding: 20px;
  margin: 20px;
}

/*img {*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*  background-size: contain;*/
/*}*/


